
.tbody {
	border-collapse: unset !important;
	background-color: white;
	TEXT-ALIGN: CENTER;

}

table {
	border-collapse: unset !important;
	align-content: center;
	align-items: center;

}

table tbody tr:nth-child(2n + 1) {
	background-color:white !important;

}

#pontos tbody tr:nth-child(2n + 1) {
	background-color:white;

}

#personagens tr td:hover {background-color: rgba(85, 84, 75, 0.18);
	TEXT-ALIGN: CENTER;

}

#vencedor{
	font-size: 40px;
	color: darkgreen;
	text-transform: uppercase;
	TEXT-ALIGN: CENTER;

}

#perdedor{
	font-size: 40px;
	color: #b71824;
	text-transform: uppercase;
	TEXT-ALIGN: CENTER;

}

#frase {
	font-size: 30px;
	color: #ffffff;
	background-color: #2f3967;
	TEXT-ALIGN: CENTER;

}

#personagens {
	border: solid 5px;
	border-color: #2f3967;

}

#pontos{
	border-collapse: unset;
	background: white !important;
	align-items: left;
	width: 60px !important;
	line-height: inherit;
}
